/*
    样式重置
*/
body,p,h1,h2,h3,h4{
    margin: 0;
}
ul{
    list-style: none;
    margin:0;
    padding:0;
}
img{
    border: none;
    vertical-align: middle;
}
a{
    text-decoration: none;
    color: #3c3c3c;
}
i{
    font-style: normal;
}
input,button{
    padding: 0;
    margin: 0;
}
button{
    outline: none;
}
table {
    border-collapse: collapse; /* 边框模式，合并的模式 */
}
th,td {
    padding: 0;
}
body{
    color: #3c3c3c;
    background-color: #f4f4f4;
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.layer{
    width: 1190px;
    margin: 0 auto;
}
.c4{
    color: #f40
}
.c5{
    color: #f50;
}
.mt10{
    margin-top: 10px;
}
.mr10{
    margin-right: 10px;
}
.mr7{
    margin-right: 7px;
}
.mr5{
    margin-right: 5px;
}